@font-face {
  font-family: "Bahnschrift";
  src: url("Bahnschrift.ttf");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font: 24px "Bahnschrift", sans-serif;
  margin: 0;
  height: 100vh;
  color: #000;
}

main {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 6px 1px rgba(115, 140, 147, 0.3490196078);
  width: 350px;
  border-bottom-left-radius: 10px;
  padding: 10px;
}

h1 {
  font-weight: 500;
  margin: 0;
}

#color {
  font: 15px "Bahnschrift", sans-serif;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  text-transform: uppercase;
  outline: none;
  transition: 0.2s ease box-shadow;
}
#color:focus {
  box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.12);
}

.result {
  display: flex;
  flex-direction: column;
  font: 15px "Consolas", sans-serif;
  text-align: left;
  padding: 10px;
  background: #f7f7f7;
  border-radius: 5px;
}
.result .line {
  -webkit-user-select: all;
     -moz-user-select: all;
          user-select: all;
  margin-top: 5px;
}
.result b {
  color: #a636a6;
}
.result i {
  color: #0184bc;
}

#color-name {
  font-weight: 500;
  margin: 10px;
  -webkit-user-select: all;
     -moz-user-select: all;
          user-select: all;
}

.color-name {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 5px;
  color: #fff;
  filter: brightness(50%);
}

@media (max-width: 350px) {
  main {
    width: 100%;
  }
  .color-name {
    top: 80%;
  }
}