@font-face {
  font-family: "Bahnschrift";
  src: url("bahnschrift.ttf");
}

*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --color: #fff;
  --text-color: #fff;
}

::selection {
  background-color: #d2ebff;
}

body {
  font: 24px "Bahnschrift", sans-serif;
  margin: 0;
  background-color: var(--color);
}

main {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 350px;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  box-shadow: 0 5px 12px rgba(0 0 0 / 6%);
  border-bottom-left-radius: 12px;

  @media (max-width: 350px) {
    width: 100%;
    border-radius: 0;
  }

  .input {
    display: flex;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: 0.2s ease box-shadow;

    &:has(input:focus) {
      box-shadow: 0 0 0 3px rgb(33 150 243 / 12%);
    }

    input[type="text"] {
      font: 15px "Bahnschrift", sans-serif;
      width: 100%;
      border-radius: inherit;
      height: 40px;
      padding: 10px;
      border: none;
      text-transform: uppercase;
      outline: none;
    }

    input[type="color"] {
      display: block;
      height: 40px;
      border: none;
      background-color: #fff;
      padding: 4px;
      border-radius: inherit;

      &::-webkit-color-swatch,
      &::-webkit-color-swatch-wrapper {
        padding: 0;
        border: none;
        border-radius: 4px;
      }
    }
  }

  code {
    display: block;
    font: 15px Consolas, monospace;
    text-align: left;
    padding: 10px;
    background: #f6f6f6;
    border-radius: 6px;

    .line {
      display: block;
      user-select: all;
      margin-top: 5px;

      b {
        color: #a636a6;
      }

      i {
        color: #0184bc;
      }
    }
  }

  .main-color {
    font-weight: 500;
    margin: 10px;
    user-select: all;
  }
}

.color-name {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 70px;
  font-size: min(70px, 15vw);
  font-weight: 600;
  letter-spacing: 5px;
  color: var(--text-color);
  filter: brightness(50%);
  margin: 0;

  @media (max-width: 350px) {
    top: 80%;
  }
}

.about {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: var(--color);
  filter: brightness(150%);
  font-size: 12px;
  text-align: right;

  a {
    color: inherit;
    transition: .2s ease filter;

    &:hover {
      filter: brightness(170%);
    }
  }
}
